a.active {
    background-color: #e8e8e8;
}
ul{
    list-style-type:none;
}
.post-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.post-div{
    /*max-width: 25%;*/
    /*min-width: 200px;*/
    margin: 20px;
}
.post-div-img{
    height: 250px;
    width: 100%;
    width: 250px;
    margin: auto;
    overflow: hidden;
}
.post-div img{
    width: 100%;
}
.post-div .list-group-item{
    border: none;
    padding: 0
}
.post-div .list-group-item:hover{
    background-color: white;
    box-shadow: 0px 0px 8px 2px #dadada;
}
.post-div-title{
    padding: 10px 0;
}
.addCommentRow div{
    background-color: transparent !important;
    border: none;
}

.addCommentRow .panel-body, .addCommentRow .panel-heading{
    padding: 0 0 20px 0
}
.thumbnail{
    border: none;
}
.commentListRow {
    padding: 40px 0
}
.commentListRow .list-group-item{
    border-radius: 0;
}
.commentListRow h3{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.crop-result{
    width: 50%;
    margin: auto;
}
.crop-result img{
    max-width: 100%;
}
@media (max-width: 767px) {

    .post-div-img{
        height: 250px;
        width: 250px;
        overflow: hidden;
    }
}